USE [master]
GO
/****** Object:  Database [Election]    Script Date: 11/14/2013 17:01:01 ******/
--CREATE DATABASE [Election] ON  PRIMARY 
--( NAME = N'Election', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Election.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'Election_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Election_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
ALTER DATABASE [Election] SET COMPATIBILITY_LEVEL = 90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Election].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
--ALTER DATABASE [Election] SET  DISABLE_BROKER
--GO
ALTER DATABASE [Election] SET AUTO_UPDATE_STATISTICS_ASYNC OFF
GO
USE [Election]
GO
/****** Object:  Table [dbo].[RegionType]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegionType](
	[RegionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_RegionType] PRIMARY KEY CLUSTERED 
(
	[RegionTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RegionType] ON
INSERT [dbo].[RegionType] ([RegionTypeID], [Name]) VALUES (1, N'State')
INSERT [dbo].[RegionType] ([RegionTypeID], [Name]) VALUES (2, N'Local Government Area')
INSERT [dbo].[RegionType] ([RegionTypeID], [Name]) VALUES (3, N'Ward')
SET IDENTITY_INSERT [dbo].[RegionType] OFF
/****** Object:  Table [dbo].[RaceType]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RaceType](
	[RaceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_RaceType] PRIMARY KEY CLUSTERED 
(
	[RaceTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RaceType] ON
INSERT [dbo].[RaceType] ([RaceTypeID], [Name], [Description]) VALUES (1, N'Presidential', N'Presidential elections')
INSERT [dbo].[RaceType] ([RaceTypeID], [Name], [Description]) VALUES (2, N'Gubernatorial', N'State governorship and FCT Minister')
INSERT [dbo].[RaceType] ([RaceTypeID], [Name], [Description]) VALUES (3, N'Senatorial', N'Federal Senate')
SET IDENTITY_INSERT [dbo].[RaceType] OFF
/****** Object:  Table [dbo].[Party]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Party](
	[PartyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](80) NULL,
	[Acronym] [varchar](10) NULL,
	[LogoFile] [varchar](225) NULL,
	[Color] [varchar](30) NULL,
 CONSTRAINT [PK_Party] PRIMARY KEY CLUSTERED 
(
	[PartyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Party] ON
INSERT [dbo].[Party] ([PartyID], [Name], [Acronym], [LogoFile], [Color]) VALUES (1, N'Accord', N'A', NULL, NULL)
INSERT [dbo].[Party] ([PartyID], [Name], [Acronym], [LogoFile], [Color]) VALUES (2, N'Action Alliance', N'AA', NULL, NULL)
INSERT [dbo].[Party] ([PartyID], [Name], [Acronym], [LogoFile], [Color]) VALUES (3, N'Advanced Congress Of Democrats', N'ACD', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Party] OFF
/****** Object:  Table [dbo].[CategoryType]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoryType](
	[CategoryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](40) NULL,
 CONSTRAINT [PK_CategoryType] PRIMARY KEY CLUSTERED 
(
	[CategoryTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryType] ON
INSERT [dbo].[CategoryType] ([CategoryTypeID], [Name]) VALUES (1, N'State')
INSERT [dbo].[CategoryType] ([CategoryTypeID], [Name]) VALUES (2, N'Local Government')
INSERT [dbo].[CategoryType] ([CategoryTypeID], [Name]) VALUES (3, N'Ward')
SET IDENTITY_INSERT [dbo].[CategoryType] OFF
/****** Object:  Table [dbo].[Year]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Year](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NULL,
 CONSTRAINT [PK_Year] PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Region]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[TopLevel] [bit] NULL,
	[ParentRegionID] [int] NULL,
	[StatusID] [int] NULL,
	[Name] [varchar](128) NULL,
	[RegionTypeID] [int] NULL,
	[RegionCode] [varchar](32) NULL,
	[Coordinates] [text] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT [dbo].[Region] ([RegionID], [TopLevel], [ParentRegionID], [StatusID], [Name], [RegionTypeID], [RegionCode], [Coordinates]) VALUES (2, 1, 2, NULL, N'Abuja Federal Capital Territory', 1, N'CT', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[Region] OFF
/****** Object:  Table [dbo].[RaceResult]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceResult](
	[RaceResultID] [int] IDENTITY(1,1) NOT NULL,
	[RaceID] [int] NULL,
	[CandidateID] [int] NULL,
	[RegionID] [int] NULL,
	[NoOfVotes] [int] NULL,
	[SubmittedBy] [int] NULL,
	[SubmittedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedOn] [datetime] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[RaceResultID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RaceResult] ON
INSERT [dbo].[RaceResult] ([RaceResultID], [RaceID], [CandidateID], [RegionID], [NoOfVotes], [SubmittedBy], [SubmittedOn], [ModifiedBy], [ModifiedOn], [ApprovedBy], [ApprovedOn]) VALUES (1, 1, 1, 38, 98000, 1, CAST(0x0000A27500DB0BAD AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[RaceResult] ([RaceResultID], [RaceID], [CandidateID], [RegionID], [NoOfVotes], [SubmittedBy], [SubmittedOn], [ModifiedBy], [ModifiedOn], [ApprovedBy], [ApprovedOn]) VALUES (2, 1, 2, 38, 45000, 1, CAST(0x0000A27500DB13FE AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[RaceResult] ([RaceResultID], [RaceID], [CandidateID], [RegionID], [NoOfVotes], [SubmittedBy], [SubmittedOn], [ModifiedBy], [ModifiedOn], [ApprovedBy], [ApprovedOn]) VALUES (3, 1, 3, 38, 10000, 1, CAST(0x0000A27500DB1C0A AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RaceResult] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[TopLevel] [bit] NULL,
	[ParentCategoryID] [int] NULL,
	[SortOrder] [int] NULL,
	[StatusID] [int] NULL,
	[CategoryTypeID] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Race](
	[RaceID] [int] IDENTITY(1,1) NOT NULL,
	[RaceTypeID] [int] NULL,
	[Year] [int] NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Race] ON
INSERT [dbo].[Race] ([RaceID], [RaceTypeID], [Year], [Description]) VALUES (1, 1, 2015, N'2015 Presidential race')
SET IDENTITY_INSERT [dbo].[Race] OFF
/****** Object:  Table [dbo].[Candidate]    Script Date: 11/14/2013 17:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidate](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](80) NULL,
	[MiddleName] [varchar](80) NULL,
	[LastName] [varchar](80) NULL,
	[PartyID] [int] NOT NULL,
	[RaceID] [int] NULL,
	[CategoryID] [int] NULL,
	[Gender] [varchar](10) NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Candidate] ON
INSERT [dbo].[Candidate] ([CandidateID], [FirstName], [MiddleName], [LastName], [PartyID], [RaceID], [CategoryID], [Gender]) VALUES (1, N'Efosa', N'Ibrahim', N'Pam', 5, 1, NULL, N'MALE')
INSERT [dbo].[Candidate] ([CandidateID], [FirstName], [MiddleName], [LastName], [PartyID], [RaceID], [CategoryID], [Gender]) VALUES (2, N'Amina', N'Joyce', N'Muhammed', 20, 1, NULL, N'FEMALE')
INSERT [dbo].[Candidate] ([CandidateID], [FirstName], [MiddleName], [LastName], [PartyID], [RaceID], [CategoryID], [Gender]) VALUES (3, N'Tunde', N'Kabiru', N'Onyema', 9, 1, NULL, N'MALE')
SET IDENTITY_INSERT [dbo].[Candidate] OFF
/****** Object:  StoredProcedure [dbo].[GetRegionRaceResult]    Script Date: 11/14/2013 17:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================================================
-- Author:		Sola Oderinde
-- Create date: 7 Nov 2013
-- Description:	Return election Race result for all subregions is a given region
-- =================================================================================
CREATE PROCEDURE [dbo].[GetRegionRaceResult]
	@RaceID int 
	,@RegionCode varchar(32) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT 
		R.RaceID
		,C.CandidateId, C.FirstName, C.LastName
		,P.Name as PartyName
		,p.Acronym AS PartyAcronym
		,Re.ParentRegionID	as RegionID
		,PaRe.Name as RegionName
		,PaRe.RegionCode
		,SUM(RR.NoOfVotes) as TotalVotes
	FROM
		RaceResult RR
		LEFT JOIN Candidate C on  RR.CandidateId = C.CandidateId 
		LEFT JOIN Party P on C.PartyId = P.PartyId
		LEFT JOIN Region Re on RR.RegionId = Re.RegionId
		LEFT JOIN Race R on RR.RaceId = R.RaceId
		LEFT JOIN (Select Regionid, Name, RegionCode from region) PaRe on Re.ParentRegionID = PaRe.RegionID
	WHERE 
		R.RaceId = @RaceId	
		AND ParentRegionID = (SELECT RegionID FROM Region WHERE RegionCode  = @RegionCode)
	GROUP BY 
		R.RaceID
		,Re.ParentRegionID
		,C.CandidateId, C.FirstName, C.LastName
		,P.Name ,p.Acronym 
		,PaRe.Name
		,PaRe.RegionCode
END
GO
/****** Object:  StoredProcedure [dbo].[GetRaceResult]    Script Date: 11/14/2013 17:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================================================
-- Author:		Sola Oderinde
-- Create date: 7 Nov 2013
-- Description:	Return election Race result for all regions
-- =================================================================================
CREATE PROCEDURE [dbo].[GetRaceResult]
	@RaceID int 
	,@RegionCode varchar(32) = null
AS
BEGIN
	--just to be sure
	IF @RegionCode = ''
	BEGIN
		SET @RegionCode = NULL
	END
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT 
		R.RaceID
		,C.CandidateId, C.FirstName, C.MiddleName, C.LastName
		,P.Name as PartyName
		,p.Acronym AS PartyAcronym
		,p.Color AS PartyColor
		,Re.ParentRegionID	as RegionID
		,PaRe.Name as RegionName
		,PaRe.RegionCode
		,SUM(RR.NoOfVotes) as TotalVotes
	FROM
		RaceResult RR
		LEFT JOIN Candidate C on  RR.CandidateId = C.CandidateId 
		LEFT JOIN Party P on C.PartyId = P.PartyId
		LEFT JOIN Region Re on RR.RegionId = Re.RegionId
		LEFT JOIN Race R on RR.RaceId = R.RaceId
		LEFT JOIN (Select Regionid, Name, RegionCode from region) PaRe on Re.ParentRegionID = PaRe.RegionID
	WHERE 
		R.RaceId = @RaceId	
		AND (		@RegionCode IS  NULL
				OR 	
					((@RegionCode IS NOT NULL) AND ParentRegionID = (SELECT RegionID FROM Region WHERE RegionCode  = @RegionCode) )
			)
	GROUP BY 
		R.RaceID
		,Re.ParentRegionID
		,C.CandidateId, C.FirstName, C.MiddleName, C.LastName
		,P.Name ,p.Acronym ,p.Color
		,PaRe.Name
		,PaRe.RegionCode
END
GO
/****** Object:  StoredProcedure [dbo].[CreateRandomRegionRaceResult]    Script Date: 11/14/2013 17:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sola Oderinde
-- Create date: 7 Nov 2013
-- Description:	Insert random election result
-- =============================================
CREATE PROCEDURE [dbo].[CreateRandomRegionRaceResult]
	@RegionID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Date datetime
	set @Date = getdate()
	INSERT INTO [Election].[dbo].[RaceResult]
           ([RaceID],[CandidateID],[RegionID],[NoOfVotes],[SubmittedBy],[SubmittedOn],[ModifiedBy],[ModifiedOn]  ,[ApprovedBy],[ApprovedOn])
     VALUES (1,1 ,@RegionID ,(ABS(CHECKSUM(NewId())) % 70000)  ,1   ,@Date  ,null,null,null,null)
	
	INSERT INTO [Election].[dbo].[RaceResult]
			   ([RaceID],[CandidateID],[RegionID],[NoOfVotes],[SubmittedBy],[SubmittedOn],[ModifiedBy],[ModifiedOn]  ,[ApprovedBy],[ApprovedOn])
		 VALUES (1,2 ,@RegionID ,(ABS(CHECKSUM(NewId())) % 17000)  ,1   ,@Date  ,null,null,null,null)
	
	INSERT INTO [Election].[dbo].[RaceResult]
			   ([RaceID],[CandidateID],[RegionID],[NoOfVotes],[SubmittedBy],[SubmittedOn],[ModifiedBy],[ModifiedOn]  ,[ApprovedBy],[ApprovedOn])
		 VALUES (1,3 ,@RegionID ,(ABS(CHECKSUM(NewId())) % 3000)  ,1   ,@Date  ,null,null,null,null)
	
	INSERT INTO [Election].[dbo].[RaceResult]
			   ([RaceID],[CandidateID],[RegionID],[NoOfVotes],[SubmittedBy],[SubmittedOn],[ModifiedBy],[ModifiedOn]  ,[ApprovedBy],[ApprovedOn])
		 VALUES (1,4 ,@RegionID ,(ABS(CHECKSUM(NewId())) % 40000)  ,1   ,@Date  ,null,null,null,null)
	
	INSERT INTO [Election].[dbo].[RaceResult]
			   ([RaceID],[CandidateID],[RegionID],[NoOfVotes],[SubmittedBy],[SubmittedOn],[ModifiedBy],[ModifiedOn]  ,[ApprovedBy],[ApprovedOn])
		 VALUES (1,5 ,@RegionID ,(ABS(CHECKSUM(NewId())) % 89000)  ,1   ,@Date  ,null,null,null,null)
	

END
GO
/****** Object:  ForeignKey [FK_Region_RegionType]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_RegionType] FOREIGN KEY([RegionTypeID])
REFERENCES [dbo].[RegionType] ([RegionTypeID])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_RegionType]
GO
/****** Object:  ForeignKey [FK_RaceResult_Candidate]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[RaceResult]  WITH CHECK ADD  CONSTRAINT [FK_RaceResult_Candidate] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidate] ([CandidateID])
GO
ALTER TABLE [dbo].[RaceResult] CHECK CONSTRAINT [FK_RaceResult_Candidate]
GO
/****** Object:  ForeignKey [FK_RaceResult_Race]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[RaceResult]  WITH CHECK ADD  CONSTRAINT [FK_RaceResult_Race] FOREIGN KEY([RaceID])
REFERENCES [dbo].[Race] ([RaceID])
GO
ALTER TABLE [dbo].[RaceResult] CHECK CONSTRAINT [FK_RaceResult_Race]
GO
/****** Object:  ForeignKey [FK_RaceResult_Region]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[RaceResult]  WITH CHECK ADD  CONSTRAINT [FK_RaceResult_Region] FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[RaceResult] CHECK CONSTRAINT [FK_RaceResult_Region]
GO
/****** Object:  ForeignKey [FK_Category_CategoryType]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_CategoryType] FOREIGN KEY([CategoryTypeID])
REFERENCES [dbo].[CategoryType] ([CategoryTypeID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_CategoryType]
GO
/****** Object:  ForeignKey [FK_Race_RaceType]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_RaceType] FOREIGN KEY([RaceTypeID])
REFERENCES [dbo].[RaceType] ([RaceTypeID])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_RaceType]
GO
/****** Object:  ForeignKey [FK_Candidate_Party]    Script Date: 11/14/2013 17:01:02 ******/
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_Party] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Party] ([PartyID])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_Party]
GO
